Repository kirill-konshin/next-redux-wrapper: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint, yarn prettier

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["yarn eslint", "git add"],
  "*.{js,jsx,ts,tsx,css,scss,sass,less,md,yml,json}": ["yarn prettier", "git add"]
}

Apply suggestions from code review
  README.md
Due: yarn prettier

Update packages/wrapper/src/index.tsx
  packages/wrapper/src/index.tsx
Due: yarn eslint, yarn prettier

Naming
  README.md
  packages/demo-page/src/components/store.tsx
  packages/demo-redux-toolkit/store.ts
  packages/demo-saga-page/src/components/store.tsx
  packages/demo-saga/src/components/store.tsx
  packages/demo/src/components/store.tsx
  packages/wrapper/src/index.tsx
Due: yarn eslint, yarn prettier

Tests
  package.json
  packages/demo-page/next-env.d.ts
  packages/demo-page/next.config.js
  packages/demo-page/package.json
  packages/demo-page/src/pages/index.tsx
  packages/demo-page/src/pages/pageProps.tsx
  packages/demo-page/tests/index.spec.ts
  packages/demo-redux-toolkit/next-env.d.ts
  packages/demo-redux-toolkit/next.config.js
  packages/demo-redux-toolkit/package.json
  packages/demo-redux-toolkit/tests/index.spec.ts
  packages/demo-saga-page/next-env.d.ts
  packages/demo-saga-page/next.config.js
  packages/demo-saga-page/package.json
  packages/demo-saga-page/src/components/store.tsx
  packages/demo-saga-page/tests/index.spec.ts
  packages/demo-saga/next-env.d.ts
  packages/demo-saga/next.config.js
  packages/demo-saga/package.json
  packages/demo-saga/playwright.config.ts
  packages/demo-saga/src/components/store.tsx
  packages/demo-saga/src/pages/_app.tsx
  packages/demo-saga/src/pages/index.tsx
  packages/demo-saga/tests/index.spec.ts
  packages/demo/next-env.d.ts
  packages/demo/next.config.js
  packages/demo/package.json
  packages/demo/tests/index.spec.ts
  packages/wrapper/package.json
  packages/wrapper/src/index.tsx
  packages/wrapper/tests/client.spec.tsx
  packages/wrapper/tests/server.spec.tsx
  packages/wrapper/tests/testlib.tsx
  yarn.lock
Due: yarn eslint, yarn prettier

Tests
  packages/wrapper/src/index.tsx
  packages/wrapper/tests/server.spec.tsx
Due: yarn eslint, yarn prettier

Linting fix
  .lintstagedrc
  package.json
  packages/demo-redux-toolkit/pages/detail/[id].tsx
  packages/demo/src/pages/_app.tsx
Due: yarn eslint, yarn prettier

New actions
  .github/workflows/publish.yml
Due: yarn prettier

Test reports
  .github/workflows/publish.yml
  .gitignore
  package.json
  packages/configs/playwright.js
  packages/demo-page/package.json
  packages/demo-redux-toolkit/package.json
  packages/demo-saga-page/package.json
  packages/demo-saga/package.json
  packages/demo/package.json
  packages/wrapper/package.json
  packages/wrapper/src/index.tsx
  yarn.lock
Due: yarn eslint, yarn prettier

Fixed tests
  packages/configs/playwright.js
  packages/wrapper/src/index.tsx
  packages/wrapper/tests/server.spec.tsx
Due: yarn eslint, yarn prettier

Coverage
  README.md
  packages/wrapper/tests/server.spec.tsx
  packages/wrapper/tests/testlib.tsx
Due: yarn eslint, yarn prettier

Coverage
  .github/workflows/publish.yml
  packages/wrapper/jest.config.js
  packages/wrapper/src/index.tsx
Due: yarn eslint, yarn prettier

Yarn update, TOC generator
  .github/workflows/publish.yml
  .yarn/releases/yarn-3.4.1.cjs
  .yarnrc
  .yarnrc.yml
  README.md
  lerna.json
  package.json
  packages/demo-page/package.json
  packages/demo-redux-toolkit/package.json
  packages/demo-saga-page/package.json
  packages/demo-saga/package.json
  packages/demo/package.json
  yarn.lock
Due: yarn prettier

Remove Lerna, add Turborepo
  .github/workflows/publish.yml
  .gitignore
  lerna.json
  package.json
  packages/wrapper/.npmignore
  packages/wrapper/package.json
  turbo.json
  yarn.lock
Due: yarn prettier

Readme copy to NPM
  .github/workflows/publish.yml
Due: yarn prettier

Simplified serialization API
  .yarnrc.yml
  README.md
  packages/demo-saga-page/src/components/store.tsx
  packages/demo-saga/src/components/store.tsx
  packages/wrapper/src/index.tsx
  packages/wrapper/tests/client.spec.tsx
  packages/wrapper/tests/server.spec.tsx
  packages/wrapper/tests/testlib.tsx
Due: yarn eslint, yarn prettier

Un-ignore ES6
  packages/wrapper/.npmignore
Due: none

Turbo wait
  packages/demo-page/package.json
  packages/demo-redux-toolkit/package.json
  packages/demo-saga-page/package.json
  packages/demo-saga/package.json
  packages/demo/package.json
  packages/wrapper/package.json
  packages/wrapper/wait-on.json
  turbo.json
  yarn.lock
Due: yarn prettier

Turbo proper wait, docs
  README.md
  packages/wrapper/package.json
  turbo.json
Due: yarn prettier

Fix #520
  README.md
  packages/wrapper/src/index.tsx
  packages/wrapper/tests/server.spec.tsx
Due: yarn eslint, yarn prettier

Changed type name
  README.md
Due: yarn prettier

Changed type name (#530)
  README.md
Due: yarn prettier

Types
  README.md
Due: yarn prettier

Add react-redux batch
  packages/wrapper/src/index.tsx
Due: yarn eslint, yarn prettier
